:root {
	--primary-blue-color: #235b6c;
	--primary-mauve-color: #955f6c;
	--secondary-steel-color: #6e8787;
	--silver-color: #b0abae;
	--cream-color: #f0e4d7;
	--main-font-family: "Playfair Display", serif;
	--text-font-family: "Poppins", sans-serif;
}

body {
	font-family: var(--text-font-family);
	margin: 0;
	padding: 0;
	background: var(--cream-color);
}

h1 {
	color: ghostwhite;
	font-family: var(--main-font-family);
	font-weight: 700;
	font-size: 80px;
}

h2 {
	color: ghostwhite;
	margin-bottom: 20px;
	font-weight: 500;
	font-size: 28px;
}

p {
	font-size: 16px;
	line-height: 1.7;
}

img {
	display: block;
	margin: 0 auto;
	width: 500px;
}

.btn-styling {
	max-width: 100px;
	text-decoration: none;
	color: white;
	padding: 10px 8px;
	background: var(--primary-mauve-color);
	border-radius: 4px;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
	font-weight: 300;
	text-align: center;
}

.btn-styling:hover {
	color: white;
	background: #c2919d;
}

.hero {
	background: var(--silver-color);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	height: 95vh;
	width: 100vw;
	padding-left: 30px;
}

.hero h1 {
	margin-left: -1px;
}

.hero h2 {
	font-size: 28px;
	font-weight: 300;
}

.container {
	display: block;
	margin: 0 auto;
	padding-left: 20px;
}

.container h2 {
	font-family: var(--main-font-family);
	font-size: 48px;
}

.container p {
	opacity: 0.7;
}

@media (max-width: 800px) {
	.hero h2 {
		font-size: 28px;
		padding-top: 10px;
	}
	h1 {
		font-size: 60px;
	}

	h2 {
		font-size: 44px;
	}

	body {
		text-align: center;
	}

	.container h2 {
		text-align: center;
	}

	.hero {
		height: 450px;
	}

	a {
		margin: 0 auto;
	}
}
