:root {
	--primary-blue-color: #235b6c;
	--primary-mauve-color: #955f6c;
	--secondary-steel-color: #6e8787;
	--silver-color: #b0abae;
	--cream-color: #f0e4d7;
	--main-font-family: "Playfair Display", serif;
	--text-font-family: "Poppins", sans-serif;
}

body {
	font-family: var(--text-font-family);
	margin: 0;
	padding: 0;
	background: var(--cream-color);
}

h1 {
	color: ghostwhite;
	font-family: var(--main-font-family);
	font-weight: 700;
	font-size: 80px;
}

h2 {
	color: ghostwhite;
	margin-bottom: 20px;
	font-weight: 500;
	font-size: 28px;
}

p {
	font-size: 16px;
	line-height: 1.7;
	opacity: 0.7;
}

img {
	display: block;
	margin: 0 auto;
	width: 500px;
}

nav {
	width: 97vw;
	margin-left: 15px;
	padding: 20px 0;
}

nav li {
	display: inline;
	list-style: none;
	line-height: 42px;
	color: var(--primary-mauve-color);
}

nav ul {
	margin-left: -20px;
	padding: 0;
}

footer {
	background-color: var(--silver-color);
	padding: 20px;
}

footer ul {
	padding: 0;
	margin: 0;
}
footer li {
	display: inline;
	padding: 10px;
	margin: 10px;
}

.fab {
	background: var(--silver-color);
	border-radius: 100px;
	padding: 10px;
	font-size: 24px;
	color: var(--primary-mauve-color);
}

.fab:hover {
	color: var(--silver-color);
	background: var(--primary-mauve-color);
}

.email-link {
	color: var(--primary-blue-color);
	font-family: var(--text-font-family);
	text-decoration: none;
	font-size: 24px;
}

.email-link:hover {
	color: var(--cream-color);
}

.btn-styling {
	max-width: 100px;
	text-decoration: none;
	color: white;
	padding: 10px 8px;
	background: var(--primary-mauve-color);
	border-radius: 4px;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
	font-weight: 300;
	text-align: center;
}

.btn-styling:hover {
	color: white;
	background: #c2919d;
}

.hero {
	background: var(--silver-color);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	height: 95vh;
	width: 100vw;
	padding-left: 30px;
}

.hero h1 {
	margin-left: -1px;
}

.hero h2 {
	font-size: 28px;
	font-weight: 300;
}

.index-content {
	display: block;
	margin: 0 auto;
	padding-left: 20px;
}

.index-content h2 {
	font-family: var(--main-font-family);
	font-size: 48px;
}

.index-content p {
	opacity: 0.7;
}

.about-hero {
	height: 100vh;
	padding: 0;
}

.about-hero h2 {
	font-family: Poppins;
	font-size: 24px;
	font-weight: 300;
	color: var(--primary-blue-color);
}

.summer-robinson-headshot {
	width: 275px;
}

.logo {
	max-width: 150px;
	margin: 0;
}

.small-logo {
	max-width: 200px;
}
.container {
	padding: 0;
	margin: 0;
}

.nav-links {
	text-decoration: none;
	color: var(--primary-mauve-color);
	padding: 15px;
}

.nav-links:hover {
	text-decoration: none;
	color: var(--silver-color);
}

.contact-page {
	height: 100vh;
}

.contact-heading {
	padding: 80px;
	margin-left: 60px;
}
.contact-heading h2 {
	margin-left: 40px;
	padding: 20px;
	font-size: 64px;
	font-weight: 600;
	font-family: var(--main-font-family);
}

.contact-container {
	max-width: 75%;
	opacity: 0.7;
	margin-left: 300px;
	padding-top: 20px;
	background: var(--silver-color);
}

.contact-container h2 {
	font-size: 48px;
	margin: 20px;
	font-family: var(--main-font-family);
	line-height: 64px;
	font-weight: 700;
	margin-bottom: 20px;
}

.contact-container p {
	opacity: 0.6;
	margin: 20px;
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
}

@media (max-width: 800px) {
	.hero h2 {
		font-size: 28px;
		padding-top: 10px;
	}
	h1 {
		font-size: 60px;
	}

	h2 {
		font-size: 44px;
	}

	body {
		text-align: center;
	}

	nav {
		margin-left: 17%;
	}

	nav a {
		font-size: 14px;
	}

	nav .small-logo {
		max-width: 50px;
	}

	footer {
		padding: 10px;
	}

	.summer-robinson-headshot {
		max-width: 250px;
	}

	.index-content h2 {
		text-align: center;
	}

	.hero {
		height: 450px;
	}

	.about-hero {
		text-align: center;
	}

	.btn-styling {
		margin: 0 auto;
	}

	.contact-heading {
		margin: 0;
		padding-bottom: 20px;
	}

	.contact-heading h2 {
		margin: 0;
		text-align: center;
	}

	.contact-container {
		opacity: 0.6;
		margin: 0 auto;
		padding: 20px;
		text-align: center;
		height: 300px;
		width: 90%vw;
	}

	.contact-container h2 {
		font-family: var(--main-font-family);
		margin: 0;
		padding: 0;
	}

	.contact-container p {
		margin: 0;
		padding: 0;
	}

	.contact-button {
		display: block;
		margin: 0 auto;
		box-shadow: none;
	}
}

@media (max-width: 1200px) {
	.contact-button {
		display: block;
		margin: 0 auto;
		box-shadow: none;
	}
	.contact-container {
		margin: 0 auto;
		padding: 20px;
		text-align: center;
		height: 300px;
	}
}
