:root {
	--primary-blue-color: #235b6c;
	/* --first-mauve-color: #955f6c; */
	--secondary-steel-color: #6aa5b4;
	--primary-cream-color: #f6f3e7;
	--main-font-family: "Roboto", sans-serif;
	--text-font-family: "Poppins", sans-serif;
}

.hidden {
	display: none;
}
.show {
	display: inline-block;
}

body {
	font-family: var(--text-font-family);
	margin: 0;
	padding: 0;
	background: var(--gray-color);
}

h1 {
	color: #000;
	font-family: var(--text-font-family);
	font-weight: 600;
	font-size: 80px;
}

h2 {
	font-family: var(--text-font-family);
	color: #0c0c0c;
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 24px;
}

p {
	font-size: 16px;
	line-height: 1.7;
	opacity: 0.7;
}

img {
	display: block;
	margin: 0 auto;
	width: 400px;
}

/* navbar styiling */
.hamburger {
	cursor: pointer;
}

nav {
	background-color: var(--primary-cream-color);
}
.nav-bar {
	display: flex;
	justify-content: end;
	list-style: none;
}
.nav-bar {
	font-size: 16px;
	text-transform: uppercase;
}

/* footer styling */
footer {
	background-color: var(--primary-cream-color);
	width: 100%;
}

footer ul {
	padding: 0;
	margin: 0;
}
footer li {
	display: inline;
	padding: 10px;
	margin: 10px;
}

footer p a {
	color: var(--primary-blue-color);
	text-decoration: none;
}

footer p a:hover {
	color: var(--secondary-steel-color);
	cursor: pointer;
}

/* icon styling */

.fab {
	background: var(--primary-cream-color);
	border-radius: 100px;
	padding: 10px;
	font-size: 24px;
	color: var(--primary-blue-color);
}

.fab:hover {
	color: var(--primary-cream-color);
	background: var(--primary-blue-color);
}

.email-link {
	color: rgb(46, 44, 44);
	font-family: var(--text-font-family);
	text-decoration: none;
	font-size: 24px;
}

.email-link:hover {
	cursor: pointer;
	color: #fff;
}

.btn-styling {
	max-width: 100px;
	text-decoration: none;
	color: white;
	padding: 10px 8px;
	background: var(--primary-blue-color);
	border-radius: 20px;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
	font-weight: 300;
	text-align: center;
}

.btn-styling:hover {
	color: white;
	background: var(--secondary-steel-color);
	/* #c2919d */
}

/* homepage styling */

.hero {
	background: var(--primary-cream-color);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	height: 100vh;
	width: 100%;
	padding-left: 30px;
	overflow: hidden;
}

.hero h2 {
	font-family: var(--main-font-family);
	font-weight: 700;
	font-size: 28px;
	font-weight: 100;
}

.index-content {
	display: block;
	margin: 0 auto;
}

.index-content h2 {
	font-family: var(--main-font-family);
	font-size: 48px;
}

.index-content p {
	opacity: 0.7;
}

.index-img {
	height: auto;
	width: 500px;
}

.drawing {
	max-width: 100%;
	width: 500px;
}

/* about page stying */

.about-hero {
	width: 100%;
	height: 100vh;
	padding: 0;
}

.about-hero h1 {
	font-family: "Poppins";
	font-size: 66px;
	font-weight: 600;
}

.about-hero h2 {
	font-family: var(--main-font-family);
	font-size: 24px;
	font-weight: 300;
	color: #000;
	opacity: 0.8;
}

.summer-robinson-headshot {
	width: 275px;
}

.logo {
	max-width: 100px;
	margin: 0;
	text-align: left;
}

.small-logo {
	max-width: 200px;
}
.container {
	padding: 0;
	margin: 0;
}

.nav-links {
	text-decoration: none;
	color: var(--primary-blue-color);
	padding: 15px;
	font-size: 20px;
}

.nav-links:hover {
	text-decoration: none;
	color: var(--secondary-steel-color);
}

/* contact page styling */

.contact-page {
	margin: 0;
	height: 100vh;
}

.contact-heading {
	padding: 80px;
	margin-left: 60px;
}
.contact-heading h2 {
	margin-left: 40px;
	padding: 20px;
	font-size: 66px;
	font-weight: 600;
	font-family: "Poppins";
}

.contact-container {
	max-width: 75%;
	margin-left: 300px;
	padding-top: 20px;
	background: #fff;
}

.contact-container h2 {
	font-size: 58px;
	font-family: var(--main-font-family);
	line-height: 64px;
	font-weight: 700;
	margin-bottom: 20px;
}

.contact-container p {
	font-family: var(--main-font-family);
	font-size: 24px;
	font-weight: 300;
	color: #000;
	opacity: 0.8;
}

/* project page styling */
.project-page {
	background-color: var(--primary-cream-color);
}

.project-hero h1 {
	font-family: var(--text-font-family);
	font-size: 60px;
	font-weight: 600;
	text-align: center;
	margin-top: 1rem;
}

.row {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* Media queuries */
@media (max-width: 800px) {
	.mobile-nav-bar {
		padding: 2%;
		list-style-type: none;
		background-color: white;
		font-size: 20px;
	}

	.mobile-nav-bar a {
		padding: 2vh 2%;
		display: inline-block;
		text-decoration: none;
		color: var(--primary-blue-color);
	}

	.mobile-nav-bar a:hover {
		color: var(--secondary-steel-color);
	}

	.nav-bar {
		display: none;
	}

	.hamburger {
		display: block;
		color: var(--primary-blue-color);
		font-size: 20px;
	}
	h2 {
		font-size: 44px;
	}

	body {
		text-align: center;
	}

	nav .small-logo {
		max-width: 50px;
	}

	footer {
		padding: 0;
	}

	nav ul {
		justify-content: center;
	}

	.footer-email {
		margin: 0;
		padding: 0;
	}
	.summer-robinson-headshot {
		max-width: 250px;
	}

	.index-content h2 {
		text-align: center;
		font-size: 40px;
	}

	.hero {
		text-align: center;
		width: 100%;
		padding: 0;
		height: 400px;
	}

	.hero img {
		display: none;
	}

	.hero h1 {
		font-size: 50px;
	}

	.hero h2 {
		font-size: 16px;
		padding-top: 10px;
	}

	.about-hero {
		text-align: center;
	}

	.about-hero h1 {
		font-size: 32px;
	}

	.about-hero h2 {
		font-size: 22px;
	}

	.btn-styling {
		margin: 0 auto;
	}

	.contact-heading {
		margin: 0;
		padding-top: 0px;
		padding-bottom: 20px;
	}

	.contact-heading h1 {
		margin: 0;
		text-align: center;
		font-size: 32px;
	}

	.contact-container {
		margin: 0 auto;
		padding: 20px;
		text-align: center;
		height: 350px;
		width: 90%vw;
	}

	.contact-container h2 {
		font-family: var(--main-font-family);
		font-size: 26px;
		margin: 0;
		padding: 0;
	}

	.contact-container p {
		margin: 0;
		padding: 0;
	}

	.contact-button {
		text-align: center;
		box-shadow: none;
	}

	.project-hero h1 {
		text-align: center;
		font-size: 32px;
		margin: 0;
		padding: 0;
	}

	.project-one,
	.project-two,
	.project-three img {
		width: 300px;
		display: block;
		margin: 0 auto;
	}

	.email-link {
		text-align: center;
	}

	footer p {
		font-size: 12px;
	}
}

@media (max-width: 991) {
	.hero-info h1 {
		margin: 0 auto;
	}

	@media (max-width: 1200px) {
		.contact-button {
			display: block;
			margin: 0 auto;
			box-shadow: none;
		}
		.contact-container {
			margin: 0 auto;
			padding: 20px;
			text-align: center;
			height: 300px;
		}
	}
}
